.header {
    background-image: url(images/pattern.jpeg);
    padding-bottom: 40px;
}

.firstText {
    color: whitesmoke;
}

.green {
    background-color: lightcoral;
}

h4 {
    color: whitesmoke;
}



